# Iteration 2
# Team D8

This Jupyter notebook is wherein the Schools near the council are filtered out.

In [355]:
import pandas as pd

In [357]:
school_df = pd.read_csv("school_detail.csv")

In [358]:
school = school_df.copy()

### Dropping unwanted columns

In [360]:
school = school.drop(['Address_Postcode','Address_Town','Postal_Address_Line_1',
                    'Postal_Postcode','Full_Phone_No','LGA_ID'],axis =1)

### Pre-processing steps

In [361]:
school['LGA_Name'] = school['LGA_Name'].astype(str).str[:-3]

In [363]:
school['Postal_Town'] = school['Postal_Town'].str.lower()

In [364]:
council_df = pd.read_csv("council_locations_wsb.csv",sep ='\t')

In [365]:
council = council_df.copy()

In [366]:
council['SUBURB'] = council['SUBURB'].str.lower()

In [367]:
council = council.drop(['ADDRESS',
                       'STATE','SPATIALCONFIDENCE'],axis = 1)

In [368]:
council['LGA_Name'] = council['NAME'].str.replace('Council', '')

In [369]:
council['LGA_Name'] = council['LGA_Name'].str.replace('Shire', '')

In [370]:
council['LGA_Name'] = council['LGA_Name'].str.replace('City', '')

In [371]:
council['LGA_Name'] = council['LGA_Name'].str.replace('- Drouin Office', '')

In [372]:
council['LGA_Name'] = council['LGA_Name'].str.replace('- Headquarters', '')

In [373]:
council['LGA_Name'] = council['LGA_Name'].str.replace('of', '')

In [374]:
council['LGA_Name'] = council['LGA_Name'].str.replace('Of', '')

In [375]:
council['LGA_Name'] = council['LGA_Name'].str.replace(' - Mornington fice', '')

In [376]:
council.head(3)

,Unnamed: 0,NAME,SUBURB,LATITUDE,LONGITUDE,LGA_Name
0,0,Alpine Shire Council,bright,-36.728316,146.968649,Alpine
1,1,Banyule City Council,rosanna,-37.743296,145.067150,Banyule
2,2,Bass Coast Shire Council,wonthaggi,-38.607895,145.590899,Bass Coast

In [377]:
council['LGA_Name'] = council['LGA_Name'].str.strip()

In [378]:
council.LGA_Name.unique()

array(['Alpine', 'Banyule', 'Bass Coast', 'Baw Baw', 'Benalla Rural',
       'Boroondara', 'Brimbank', 'Buloke', 'Campaspe', 'Cardinia',
       'Casey', 'Central Goldfields', 'Ballarat', 'Stonnington',
       'Colac-Otway', 'Corangamite', 'Darebin', 'East Gippsland',
       'Frankston', 'Gannawarra', 'Glen Eira', 'Glenelg', 'Golden Plains',
       'Greater Bendigo', 'Greater Dandenong', 'Greater Geelong',
       'Greater Shepparton', 'Hepburn', 'Hindmarsh', 'Hobsons Bay',
       'Horsham Rural', 'Hume', 'Indigo', 'Kingston', 'Knox', 'Latrobe',
       'Loddon', 'Macedon Ranges', 'Manningham', 'Mansfield', 'Maroondah',
       'Melton', 'Mildura Rural', 'Mitchell', 'Moira', 'Monash',
       'Moonee Valley', 'Moorabool', 'Moreland', 'Mornington Peninsula',
       'Mount Alexander', 'Murrindindi', 'Nillumbik',
       'Northern Grampians', 'Port Phillip', 'Pyrenees',
       'Queenscliffe Borough', 'South Gippsland', 'Southern Grampians',
       'Strathbogie', 'Surf Coast', 'Swan Hill Rural', 'Towong',
       'Wangaratta Rural', 'Warrnambool', 'Wellington', 'Whitehorse',
       'Whittlesea', 'Wodonga', 'Yarra', 'Yarriambiack'], dtype=object)

In [379]:
school['LGA_Name'] = school['LGA_Name'].str.replace('(', '')

In [380]:
school['LGA_Name'] = school['LGA_Name'].str.strip()

In [381]:
school['LGA_Name'] = school['LGA_Name'].str.lower()
council['LGA_Name'] = council['LGA_Name'].str.lower()

In [382]:
school.LGA_Name.unique()

array(['wellington', 'warrnambool', 'pyrenees', 'strathbogie',
       'manningham', 'greater geelong', 'moorabool', 'ballarat',
       'wodonga', 'casey', 'bayside', 'moyne', 'hobsons bay',
       'southern grampians', 'colac-otway', 'mount alexander', 'hepburn',
       'greater bendigo', 'nillumbik', 'mornington peninsula', 'campaspe',
       'moonee valley', 'maribyrnong', 'macedon ranges', 'alpine',
       'boroondara', 'banyule', 'surf coast', 'indigo', 'golden plains',
       'melton', 'yarra', 'whitehorse', 'moreland', 'whittlesea',
       'glenelg', 'northern grampians', 'corangamite', 'melbourne',
       'wangaratta', 'wyndham', 'mitchell', 'murrindindi', 'monash',
       'central goldfields', 'east gippsland', 'ararat', 'mansfield',
       'darebin', 'kingston', 'yarra ranges', 'latrobe', 'benalla',
       'towong', 'hume', 'loddon', 'knox', 'greater shepparton',
       'swan hill', 'port phillip', 'queenscliffe', 'west wimmera',
       'frankston', 'bass coast', 'yarriambiack', 'hindmarsh',
       'greater dandenong', 'gannawarra', 'baw baw', 'brimbank', 'buloke',
       'horsham', 'stonnington', 'moira', 'cardinia', 'south gippsland',
       'glen eira', 'maroondah', 'mildura', 'unincorporated'],
      dtype=object)

In [383]:
new1 = pd.merge(school,council, on = 'LGA_Name')

In [384]:
new1.count()

Unnamed: 0_x      1345
School_Name       1345
Address_Line_1    1345
Postal_Town       1345
LGA_Name          1345
X                 1345
Y                 1345
Unnamed: 0_y      1345
NAME              1345
SUBURB            1345
LATITUDE          1345
LONGITUDE         1345
dtype: int64

In [385]:
new1.head(3)

,Unnamed: 0_x,School_Name,Address_Line_1,Postal_Town,LGA_Name,X,Y,Unnamed: 0_y,NAME,SUBURB,LATITUDE,LONGITUDE
0,0,Alberton Primary School,21 Thomson Street,alberton,wellington,146.666601,-38.617713,65,Wellington Shire Council,sale,-38.1118,147.063626
1,68,Sale Primary School,Macalister Street,sale,wellington,147.073643,-38.108303,65,Wellington Shire Council,sale,-38.1118,147.063626
2,71,Stratford Primary School,Cnr Wellsford & Hobson Streets,stratford,wellington,147.085386,-37.967251,65,Wellington Shire Council,sale,-38.1118,147.063626

### Calculating the distance using Haversine Formula

In [386]:
def dist_from_coordinates(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    d_lat = np.radians(lat2-lat1)
    d_lon = np.radians(lon2-lon1)

    r_lat1 = np.radians(lat1)
    r_lat2 = np.radians(lat2)

  #haversine formula
    a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

    haversine = 2 * R * np.arcsin(np.sqrt(a))
    return haversine

In [387]:
import numpy as np

In [388]:
new_column = []                    #empty column for distance
for index,row in new1.iterrows():
    lat1 = row['Y'] #first row of location.lat column here
    lon1 = row['X'] #first row of location.long column here
    lat2 = row['LATITUDE'] #second row of location.lat column here
    lon2 = row['LONGITUDE'] #second row of location.long column here
    value = dist_from_coordinates(lat1, lon1, lat2, lon2)  #get the distance
    new_column.append(value)

In [389]:
new1.insert(1,"Distance",new_column)

In [391]:
new1['Distance']= new1['Distance'].round().astype(int)

In [392]:
new1.head(2)

,Unnamed: 0_x,Distance,School_Name,Address_Line_1,Postal_Town,LGA_Name,X,Y,Unnamed: 0_y,NAME,SUBURB,LATITUDE,LONGITUDE
0,0,66,Alberton Primary School,21 Thomson Street,alberton,wellington,146.666601,-38.617713,65,Wellington Shire Council,sale,-38.1118,147.063626
1,68,1,Sale Primary School,Macalister Street,sale,wellington,147.073643,-38.108303,65,Wellington Shire Council,sale,-38.1118,147.063626

In [394]:
new1 = new1[new1['Distance'] > 0]

In [397]:
new3 = new1[new1['Distance'] <= 3]

In [400]:
new3.to_csv('school_3.csv',sep=',')